.About-me {
    color: var(--color-light);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.About-me-h2 {
    font-size: 2rem;
}

.About-me-projects-link {
    text-decoration: none;
    color: var(--color-blue);
    opacity: 0.85;
    transition: all 0.3s;
}

.About-me-projects-link:hover {
    opacity: 1;
}

@media (max-width: 600px) {
    .About-me {
        margin-top: 0px;
    }
}