.App {
  text-align: center;
  height: 100vh;
  background-color: var(--color-dark);
  color: var(--color-light);
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
}

.App-nav-link {
  color: var(--color-light);
  text-decoration: none;
}

.App-nav-active{
  border: 2px solid green;
}

/* might not need this */
/* .dark{
  background-color: burlywood;
} */