.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  position: fixed;
  /* Required for the stickiness */
  top: 0;
  left: 15vw;
  width: 70%;
  height: 120px;
  background-color: black;
  z-index: 10;
}

.App-logo {
  margin-top: 20px;
  width: 100px;
  transition: all 0.3s;
  opacity: 0.85;
  /*border-radius: 50%;*/
}

.App-logo:hover {
  opacity: 1;
}

.App-nav-link {
  text-decoration: none;
  color: var(--color-blue);
  opacity: 0.85;
  transition: all 0.3s;
}

.App-nav-link:hover {
  opacity: 1;
}

.App-nav-link:not(:last-child) {
  margin-right: 30px;
}

.App-nav-active {
  text-shadow: 10px 0px 10px blue, 0px 10px 10px blue, -10px 0px 10px blue, 0px -10px 10px blue;
}

.App-menu-button {
  display: none;
  cursor: pointer;
  margin-right: 15px;
  font-size: 2.5rem;
  color: var(--color-blue);
  opacity: 0.85;
  transition: all 0.3s;
}

.App-menu-button:hover {
  opacity: 1;
}

.App-mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 1400ms;
  pointer-events: none;
  margin-top: 20px;
  background-color: black;
  border-radius: 5px;
}

.App-mobile-nav-link {
  text-decoration: none;
  color: var(--color-blue);
  font-size: 1.2rem;
  padding: 6px;
}

.App-mobile-menu-on {
  opacity: 1;
  pointer-events: auto;
}

/* Transition animation from here */

.fade-appear, .fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active, .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms linear 700ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 700ms linear;
}

@media (max-width: 1400px) {
  .App-header {
    font-size: 1.9rem;
    left: 10vw;
    width: 80%;
  }
  .App-logo {
    width: 90px;
  }
}

@media (max-width: 1000px) {
  .App-header {
    font-size: 1.5rem;
    left: 2.5vw;
    width: 95%;
  }
  .App-logo {
    width: 80px;
  }
}

@media (max-width: 800px) {
  .App-nav {
    display: none;
  }
  .App-menu-button {
    display: block;
  }
  .App-logo {
    margin-top: 5px;
    margin-left: 10px;
  }
}

@media (min-width: 800px) {
  .App-mobile-nav {
    display: none;
  }
}