.App {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* background-color: var(--color-dark);
  color: var(--color-light); */
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid coral;
  position: sticky;
  top: 0; /* Required for the stickiness */
  height: 100px;

}

.App-logo-link {

}

.App-logo {
  width: 80px;
}

.App-nav {
  margin-right: 50px;
}

.App-nav-link {
  /* color: var(--color-light); */
  text-decoration: none;
  /* color: #005EB6; */
  color: #44A0FF;
}

.App-nav-link:not(:last-child) {
  margin-right: 50px;
}

.App-nav-active {
  background-color: purple;
}