.Hello {
    margin-top: 150px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 15vw;
}

.Hello-image {
    width: 300px;
    border-radius: 5px;
}

.Hello-text {
    margin-left: 50px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light);
    white-space: nowrap;
    cursor: default;
}

.Hello-text-hi {
    font-weight: 100;
}

.Hello-text-name {
    font-weight: 700;
}

.Hello-text-profession {
    --color-blue-shadow: rgba(0, 0, 255, 0.8);
    font-weight: 300;
    color: var(--color-blue);
    opacity: 0.85;
    text-shadow: 10px 0px 10px darkblue, 0px 10px 10px darkblue, -10px 0px 10px darkblue, 0px -10px 10px darkblue;
    text-shadow: 10px 0px 10px var(--color-blue-shadow), 0px 10px 10px var(--color-blue-shadow), -10px 0px 10px var(--color-blue-shadow), 0px -10px 10px var(--color-blue-shadow);
}

@media (max-width: 910px) {
    .Hello {
        flex-direction: column-reverse;
    }
    .Hello-text {
        margin-bottom: 50px;
        margin-left: 0px;
    }
    .Hello-image {
        margin-bottom: 100px;
    }
}

@media (max-width: 450px) {
    .Hello-text {
        font-size: 2.5rem;
    }
    .Hello {
        margin-top: 20px;
    }
}

/* Transitions needed because of the absolute position of the page */
@media (max-width: 1000px) {
    .Hello {
        left: 10vw;
        width: 80%;
    }
}

@media (max-width: 800px) {
    .Hello {
        left: 2.5vw;
        width: 95%;
    }
}