.Hello {
    margin: 0 auto;
}

.Hello-image {
    width: 80vw;
    max-width: 300px;
}

.filler {
    width: 80vw;
    max-width: 300px;
    height: 500px;
    background: indigo;
    border: 5px solid green;
    margin: 10px;
}