:root {
  --color-dark: rgb(68, 160, 255);
  --color-light: rgba(255, 255, 255, 0.92);
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.light {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.surround {
  background-color: rgba(0, 0, 30, 1);
  box-shadow: 10px 0px 10px rgba(0, 0, 30, 1), 0px 10px 10px rgba(0, 0, 30, 1), -10px 0px 10px rgba(0, 0, 30, 1), 0px -10px 10px rgba(0, 0, 30, 1);
  border-radius: 20px;
}