.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light);
    text-align: center;
    width: 70%;
    position: absolute;
    top: 120px;
    left: 15vw;
}

.Projects-h1 {
    color: #c70e0e;
    font-size: 2.3rem;
    text-wrap: pretty;
    font-weight: 400;
}

.Projects-bold {
    font-weight: 600;
}

.Projects-h2 {
    font-size: 2rem;
}

.Projects-h3 {
    font-size: 1.3rem;
    margin-bottom: 50px;
}

/* Transitions needed because of the absolute position of the page */
@media (max-width: 1000px) {
    .Projects {
        left: 10vw;
        width: 80%;
    }
}

@media (max-width: 800px) {
    .Projects {
        left: 2.5vw;
        width: 95%;
    }
}
